.page-container{
    border: 2px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 2% 1% 1% 2%;
    height: 100vh;
}
.navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 16pt;
    padding: 2% 0;
}
.left-navbar,.menu-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 8%;
}
.avatar{
    background-color: lightgray;
    height: 20px;
    width: 20px;
    border-radius: 5px;
}
.username-container{
    color:lightgray;
}
.menu-item{
    color:lightgray;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 20px;
}
.main-header{
    background-color: lightgray;
    height: 20vh;
    width: 100%;
    border-radius: 8px;
}
.sub-header{
    background-color: lightgray;
    height: 5vh;
    width: 100%;
    border-radius: 8px;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap:20%;
}
.article{
    color:lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    font-size: 20pt;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap:2%;
}
.icon{
    height: 80px;
    width: 80px;
    background-color: lightgray;
    border-radius: 8px;
}